.book-container {
  margin: 1rem 3rem;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.1rem solid #e8e8e8;
  border-radius: 0.5rem;
}

.topic {
  font-size: 1.3rem;
  color: #e8e8e8;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.btn-container {
  display: flex;
  list-style: none;
}

.btn-container li button {
  font-size: 1.2rem;
  margin-right: 1rem;
  margin-top: 1rem;
  color: #639bca;
  cursor: pointer;
  border: none;
  background-color: #fff;
}

.btn-container li button:hover {
  color: #0290ff;
}

.right-progress {
  display: flex;
  justify-content: space-between;
}

.circular-progress {
  display: flex;
  align-items: center;
}

.percentage {
  font-size: 2rem;
}

.complete {
  color: #e8e8e8;
}

.vertical-line {
  border-right: 1px solid rgb(196, 192, 192);
  height: 10rem;
  margin: 0 5rem;
  display: flex;
  align-self: center;
}

.right-update div {
  margin-top: 1rem;
}

.chapter {
  color: #e8e8e8;
}

.progress-btn {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: #0290ff;
  border-radius: 0.5rem;
  cursor: pointer;
}
